{% extends "auth.html" %}
{% load static %}

{% block title %}Reset Your Password | Edgr{% endblock %}

{% block heading %}Reset Your Password{% endblock %}
{% block subheading %}Choose a new password below.{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
</form>
{% endblock %}

{% block footer %}
<a href="{% url 'account_login' %}" class="btn btn-link mt-4">Back to Login</a>
{% endblock %}
