{% extends "auth.html" %}
{% load static %}

{% block title %}Password Reset Sent | Edgr{% endblock %}

{% block heading %}Check Your Email{% endblock %}
{% block subheading %}We’ve sent you instructions to reset your password.{% endblock %}

{% block content %}
<div class="text-center">
    <p class="lead mb-4">If you don't receive an email, please check your spam folder or try again.</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary w-100 mt-3">Back to Login</a>
</div>
{% endblock %}

{% block footer %}
<!-- <a href="{% url 'account_signup' %}" class="btn btn-link mt-4">
    <i class="fas fa-user-plus me-1"></i> Create New Account
</a> -->
{% endblock %}
